[submodule "rocket-engine/vendors/spdlog"]
	path = rocket-engine/vendors/spdlog
	url = https://github.com/gabime/spdlog
[submodule "rocket-engine/vendors/imgui"]
	path = rocket-engine/vendors/imgui
	url = https://github.com/moon3fire/imgui
[submodule "rocket-engine/vendors/glm"]
	path = rocket-engine/vendors/glm
	url = https://github.com/g-truc/glm
[submodule "rocket-engine/vendors/yaml-cpp"]
	path = rocket-engine/vendors/yaml-cpp
	url = https://github.com/moon3fire/yaml-cpp
[submodule "rocket-engine/vendors/ImGuizmo"]
	path = rocket-engine/vendors/ImGuizmo
	url = https://github.com/moon3fire/ImGuizmo
[submodule "rocket-engine/vendors/GLFW"]
	path = rocket-engine/vendors/GLFW
	url = https://github.com/moon3fire/glfw
